/* * => 'all elements' */
/* general css  */
* {
    margin: 0;
}

.container {
    width: 70%;
    margin: auto;
}


/* ------------------------------------------ */
/* .website-amazon {
    padding: 50px 0;
}

.amazon {
    width: 22%;
    display: inline-block;
    border: 2px solid silver;
    padding: 20px 15px;
}

.amazon img {
    width: 100%;
    margin: 20px 0;
} */

/* ----------------------------------------------- */
/* baking */
/* .baking{
    padding: 100px 0;
}


.baking h2,
.baking p
{
    text-align: center;
}

.baking .item{
    width: 32%;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}

.baking .item img{
    width: 90%;
    margin-bottom: 10px;
}

.baking .item p{
    padding: 5px 10px;
    color: rgb(40, 38, 38);
    font-style: italic;
}
 */
.services {
    text-align: center;
    padding: 50px 0;
    background-color: #eee;
}

.services .item {
    margin-top: 40px;
    width: 30%;
    display: inline-block;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    text-align: left;
}

.services .item hr {
    margin: 5px 0 10px 0;
}

.services .item p {
    padding-right: 40px;
}