* {
    margin: 0;
}

.container {
    width: 70%;
    margin: auto;
}

section {
    padding: 70px 0;
}

.clear {
    clear: both;
}

/* ------------------------------------------ */
h1 {
    margin-bottom: 40px;
    text-decoration: underline;
}

.hover-section a,
.hover-section button {
    display: block;
    width: fit-content;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 20px 0;
}

.hover-section a,
.hover-section button {
    background-color: blueviolet;
    border: 1px solid blueviolet;
}

.hover-section a:hover,
.hover-section button:hover {
    background-color: white;
    color: blueviolet;
}


/* ------------------------------------- */
.amazon-section {
    padding: 50px 0;
    background-color: #eee;
}

.amazon {
    background-color: white;
    width: 23%;
    padding: 10px;
    /* display: inline-block; */
    float: left;
}

.amazon img {
    width: 100%;
}